
.nav{
    color: white;
}

#header_img{
    width: 100%;
    background-attachment: scroll;
}

h1{
    color: white;
}

header {
    color: white;
}

.logo{
    color: white;
    text-decoration: none;
}